{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <h5 style ="margin-left:5%">Le but de ce jeu est de s'entrainer à faire des <span style ="color:#4a6da7">phrases toutes simples et quotidiennes.</span> </h5>
    <h6 style ="margin-left:10%">Le module actuel permet de travailler les actions comportant le verbe être. Si tu veux travailler un élément en particulier, affine la selection ci dessous.</h6>
    <h6 style ="margin-left:10%"></h6>

    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-3" style="margin-bottom: 1rem;">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">Temps</h5>
                        <br>
                        <div style="">
                            {{ form_row(form.passe,{'label':'Passé'}) }}
                            {{ form_row(form.present,{'label':'Présent'}) }}
                            {{ form_row(form.futur) }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12  col-lg-3" style="margin-bottom: 1rem;">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">Type</h5>
                        <br>
                        <div style="">
                            {{ form_row(form.affirmation) }}
                            {{ form_row(form.negation,{'label':'Négation'}) }}
                            {{ form_row(form.question) }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12  col-lg-3" style="margin-bottom: 1rem;">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">Personne</h5>
                        <br>
                        <div style="">
                            {{ form_row(form.je) }}
                            {{ form_row(form.tu) }}
                            {{ form_row(form.il,{'label':'Il/Elle'}) }}
                            {{ form_row(form.nous) }}
                            {{ form_row(form.vous) }}
                            {{ form_row(form.ils,{'label':'Ils/Elles'}) }}
                        </div>
                    </div>
                </div>
            </div>

            
        <div class="row justify-content-center">
        <br>
            <br>
            <div class="col-3 ">
                 {{ form_rest(form) }}
            </div>
        </div>

            {{ form_end(form) }}
    </div>
    

{% endblock %}

